[user]
	email = sasa@savic.ba
	name = Saša Savić

[push]
	default = simple

[includeIf "gitdir:~/Dev/Powerline/"]
	path = ~/Dev/Powerline/.gitconfig

[includeIf "gitdir:~/Dev/Stem/"]
	path = ~/Dev/Stem/.gitconfig

[difftool]
	prompt = true

[diff]
	tool = nvimdiff

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[alias]
    clean-branches = "!f(){\
        git branch | grep -v "master" | grep -v ^* | xargs git branch -d;\
    }; f"
    # Delete all local branches but master and the current one.
    clean-branches-force = "!f(){\
        git branch | grep -v "master" | grep -v ^* | xargs git branch -D;\
    }; f"
